<section class=" me text-gray-400 bg-gray-900 body-font h-full">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center h-full">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center ">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Hi, I'm  <br class="hidden lg:inline-block "><span class="text-indigo-400 font-semibold">Fady Gaber</span>
        
      </h1>
      <p class="mb-8 leading-relaxed">An experienced full stack website developer with a passion for crafting unique digital experience.</p>
      <div class="flex justify-center gap-4">
        <button (click)="goToContact()" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Get in touch ></button>
        <button (click)="goToAbout()" class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Learn more</button>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
    </div>
  </div>
</section>